/* Fonts */
$font1: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;

/* Colors */
$color1: #515150; /* Dark gray */
$color7: #4c4c4c; /* Dark gray - body text */
$color8: #7a7a7a; /* Medium gray */
$color2: #d4d4d4; /* Light gray */
$color6: #9c9a9a; /* Another light gray - text */
$color5: #f5f5f5; /* Extremely light gray */

$color3: #3ac8ba; /* Teal */
$color4: #1aa79b; /* Darker Teal */
