/* Fonts */
$font1: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;

/* Colors */
$color1: #515150; /* Dark gray */
$color1-desat: rgba(81, 81, 80, .8);
$color7: #4c4c4c; /* Dark gray - body text */
$color8: #7a7a7a; /* Medium gray */
$color2: #d4d4d4; /* Light gray */
$color6: #9c9a9a; /* Another light gray - text */
$color5: #f5f5f5; /* Extremely light gray */
$color9: #b7b7b7; /* Footer light gray */
$color10: #3e3e3e; /* Darker gray */

$color12: #b2b2b2; /* Another gray */
$color13: #e5e5e5; /* Yet another gray */
$color14: #f7f7f7; /* Another very light gray */
$color15: #353535; /* Footer upper color */

$color11: #262626; /* Dark dark grey */

$color3: #3ac8ba; /* Teal */
$color4: #1aa79b; /* Darker Teal */


